/* TestFoundersGrotesk Font Family */
@font-face {
    font-family: 'TestFoundersGrotesk';
    src: url('../fonts/TestFoundersGrotesk-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TestFoundersGrotesk';
    src: url('../fonts/TestFoundersGrotesk-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'TestFoundersGrotesk';
    src: url('../fonts/TestFoundersGrotesk-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TestFoundersGrotesk';
    src: url('../fonts/TestFoundersGrotesk-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TestFoundersGrotesk';
    src: url('../fonts/TestFoundersGrotesk-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TestFoundersGrotesk';
    src: url('../fonts/TestFoundersGrotesk-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TestFoundersGrotesk';
    src: url('../fonts/TestFoundersGrotesk-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TestFoundersGrotesk';
    src: url('../fonts/TestFoundersGrotesk-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TestFoundersGrotesk';
    src: url('../fonts/TestFoundersGrotesk-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TestFoundersGrotesk';
    src: url('../fonts/TestFoundersGrotesk-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
} 